@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .transcript code {
        @apply my-4 p-4 rounded-lg;
    }

    .transcript table {
        @apply my-4 divide-y divide-gray-300 border border-2 border-gray-300 overflow-hidden;
    }
    .transcript thead {
        @apply bg-gray-50;
    }

    .transcript thead th {
        @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
    }

    .transcript tbody {
        @apply divide-y divide-gray-200 bg-white;
    }

    .transcript tbody td {
        @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
    }

    .transcript ul {
        @apply list-disc my-4;
    }

    .transcript ol {
        @apply list-decimal my-4;
    }

    .transcript p {
        @apply my-4;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}



